<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William Robert Parica, Android Developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="home">
    <div class="content-wrapper">
      <div class="content-bg">
        <header>
          <h1>William Robert Parica</h1>
          <h2>Android Developer</h2>
        </header>
        <main>
          <p>With over 6 years of experience as an android developer, I've had the opportunity to work on a wide range of projects and with many different organizations. I enjoy programming as it is satisfying to see your code works on first try. I also take my time to learn developing applications on different platforms.</p>

          <p>To learn more about my work history, check out my <a href="/resume"> resume</a>. Thanks for stopping by!</p>
        </main>
      </div>
    </div>
    <!-- //  FOOTER INFO, SOCIAL MEDIA  // -->
    <footer>
      <p>© 2024 by William Parica |  <a href="mailto:email@example.com">wraparica@gmail.com</a></p>

      <ul class="socials">
        <li>
          <a href="https://www.instagram.com/wraparica/" target="_blank"><img src="/images/icon-logo-instagram.png" alt="My Instagram"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/wraparica/" target="_blank"><img src="/images/icon-logo-linkedin.png" alt="My LinkedIn profile"></a>
        </li>
      </ul>
    </footer>
  </body>
</html>