<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume | William Robert Parica, Android Developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="resume">
    <a class="btn download-link" href="/william-parica-resume.pdf" download>Download PDF</a>
    <!-- //  INTRO  // -->
    <header>
      <div class="content-wrapper">
        <h1>William Robert Parica</h1>
        <h2>Android Developer</h2>
      </div>
    </header>

    <main class="content-wrapper">
      <!-- //  PROFILE  // -->
      <section class="resume-section">
        <h2>Profile</h2>
        <p>I've been in the tech industry for over 6 years and have a diverse range of experiences from working as an android developer using Java and Kotlin. I also have experience developing android application using Flutter. I'm also exploring other development endeavors such as Web and Back end.</p>
        
        <a href="/index">Back to homepage</a>
      </section>

      <!-- //  PROJECTS  // -->
      <section class="resume-section">
        <h2>Projects</h2>
        <p>View selected projects I have worked on below.</p>

        <div class="project-wrapper">
          <section class="project-item">
            <img src="images/edtr-security.webp" srcset="images/edtr-security.webp 2x" alt="Edtr Security Thumbnail">
            <h3>Edtr Security</h3>
            <p>A mobile application designed for the management of both principal and agency, which enables them to keep track of the field forces' attendance and activities, and monitor inventory in real-time across all stores.</p>
            <a class="btn" href="https://play.google.com/store/apps/details?id=com.esc.edtr.secu" target="_blank">Edtr Security</a>
          </section>

          <section class="project-item">
            <img src="images/swift-point.webp" srcset="images/swift-point.webp 2x" alt="Swift Point Thumbnail">
            <h3>SwiftPoint</h3>
            <p>A mobile application designed for the management of both principal and agency, which enables them to keep track of the field forces' attendance and activities, and monitor inventory in real-time across all stores.</p>
            <a class="btn" href="https://play.google.com/store/apps/details?id=com.electronicscience.pplus2.migrated" target="_blank">SwiftPoint</a>
          </section>

          <section class="project-item">
            <img src="images/globe-one.webp" srcset="images/globe-one.webp 2x" alt="Globe One app">
            <h3>Globe One App</h3>
            <p>An application designed to Globe users to be able to manage data, buy load/promo, pay bills, and redeem rewards</p>
            <a class="btn" href="https://play.google.com/store/apps/details?id=ph.com.globe.globeonesuperapp" target="_blank">Globe One</a>
          </section>
        </div>
      </section>

      <!-- //  WORK EXPERIENCE  // -->
      <section class="resume-section">
        <!-- Start content edits below this line.  -->
        <h2>Work Experience</h2>
        <p>My complete work history is available on <a href="https://www.linkedin.com/in/wraparica/" target="_blank">LinkedIn</a>.</p>

        <section class="work-item">
          <div class="work-details">
            <h3>Senior Android Developer</h3>
            <p>Novare Technologies Inc - Globe Client</p>
            <p>November 2021 - Present</p>
          </div>
          
          <div class="work-summary">
            <p>Developing android applications using Kotlin and Jetpack Compose.Enhancing current features, debugging raised issues. Also handling another android developer.</p>
            <p>Job Description:</p>
            <ul>
              <li>Designs, develops, and maintains mobile application solutions and software for
                customers based on specifications and requirements</li>
              <li>Integrates, tests, and debugs application solutions and software when deployed in
                development, test and production environments</li>
              <li>Ensures complete delivery of all customer requirements and documentation</li>
              <li>Developed the Digital Skills part-time program curriculum.</li>
              <li>Tests and experiments with new tools and technologies that will help in designing and developing software for current and future requirements</li>
            </ul>
          </div>
        </section>
  
        <section class="work-item">
          <div class="work-details">
            <h3>Android Developer</h3>
            <p>Collabera - Accenture Client</p>
            <p>March 2021 - November 2021</p>
          </div>
          
          <div class="work-summary">
            <p>Tasked to implement enhancements on current features.</p>
            <p>Job Description:</p>
            <ul>
              <li>Design, build and configure applications to meet business process and application requirements</li>
              <li>Abideby and perform to the best of your abilities all functions, duties and responsibilities to be assigned by the company in due course.</li>
              <li>Complywith the orders and instructions given from time to time by the company through its authorized representatives</li>
            </ul>
          </div>
        </section>
  
        <section class="work-item">
          <div class="work-details">
            <h3>Software Engineer I and II</h3>
            <p>Electronic Science Corporation (e-Science)</p>
            <p>January 2018 - March 2021</p>
          </div>

          <div class="work-summary">
            <p>Software Engineer focused on developing android applications for the client needs.</p>
            <p>Job Description:</p>
            <ul>
              <li>Develop and code Android Mobile Application based on business requirements and
                process.</li>
              <li>Maintain and fix any issues found</li>
              <li>Test development according to quality assurance standards</li>
              <li>Aidapplication support engineers and quality assurance engineers in issue investigation
                and resolution</li>
            </ul>
          </div>
        </section>
      </section>

      <section class="resume-section">
        <!-- Start content edits below this line.  -->
        <h2>Tech Stack</h2>
        <ul class="tech-stack">
          <li>Kotlin</li>
          <li>SOLID OOP</li>
          <li>Android Jetpack</li>
          <li>Clean Architecture</li>
          <li>Model View View-Model (MVVM)</li>
          <li>REST API</li>
          <li>Retrofit</li>
          <li>Dagger</li>
          <li>Android UI Best Practices</li>
          <li>Room Database</li>
          <li>MySQL</li>
          <li>Git</li>
          <li>Firebase</li>
          <li>Jetpack Compose</li>
          <li>Coroutine</li>
          <li>RxJava</li>
          <li>Jira</li>
          <li>AWS S3</li>
          <li>Firebase Analytics</li>
          <li>FCM</li>
          <li>Node Js</li>
          <li>Javascript</li>
        </ul>
        
      </section>

      <!-- //  EDUCATION & CERTIFICATIONS  // -->
    <section class="resume-section">
      <!-- Start content edits below this line.  -->
      <h2>Certificates</h2>

      <section class="education-item"></section>
        <h3>Flutter Essential Training: Build for Multiple Platforms (LinkedIn Learning)</h3>
        <p>Nov 08, 2023</p>
        <a class="btn" href="/CertificateOfCompletion_Flutter-Essential-Training-Build-for-Multiple-Platforms.pdf" download>Download Certificate</a>
      </section>

      <section class="education-item"></section>
        <h3>HTML Essential Training (LinkedIn Learning)</h3>
        <p>Jan 22, 2024</p>
        <a class="btn" href="/CertificateOfCompletion_HTML-Essential-Training.pdf" download>Download Certificate</a>
      </section>

      <section class="education-item">
        <h3>CSS Essential Training (LinkedIn Learning)</h3>
        <p>Feb 03, 2024</p>
        <a class="btn" href="/CertificateOfCompletion_CSS-Essential-Training.pdf" download>Download Certificate</a>
      </section>

      

      <section class="education-item"></section>
        <h3>NodeJS - The Complete Guide (MVC, REST APIs, GraphQL, Deno) (Udemy)</h3>
        <p>Sept 20, 2024</p>
        <a class="btn" href="/NodeJs-Certificate.pdf" download>Download Certificate</a>
      </section>
        

      <!-- //  EDUCATION & CERTIFICATIONS  // -->
      <section class="resume-section">
        <!-- Start content edits below this line.  -->
        <h2>Education</h2>

        <section class="education-item">
          <h3>Malayan Colleges Laguna</h3>
          <p>Bachelor of Science in Information Technology, 2018</p>
          <p>Major in Mobile Development</p>
        </section>
  
        <section class="education-item">
          <h3>Emmanuel Christian School</h3>
          <p>Highschool</p>
        </section>
    </main>


    <!-- //  FOOTER INFO, SOCIAL MEDIA  // -->
    <footer>
      <p>© 2024 by William Parica |  <a href="mailto:email@example.com">wraparica@gmail.com</a></p>

      <ul class="socials">
        <li>
          <a href="https://www.instagram.com/wraparica/" target="_blank"><img src="images/icon-logo-instagram.png" alt="My Instagram"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/wraparica/" target="_blank"><img src="images/icon-logo-linkedin.png" alt="My LinkedIn profile"></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
